<!--<div class="setting">-->
<!--    <label for="{{name}}">{{label}}</label>-->
<!--    <input type="{{type}}" name="{{name}}" id="{{name}}" value="{{value}}" {{#if disabled}}disabled{{/if}} />-->
<!--</div>-->
<div class="chat-link">
    <div class="image">
        <div class="avatar"></div>
    </div>
    <div class="details">
        <h4>{{chat-name}}</h4>
        <p>{{chat-text}}</p>
    </div>
    <div class="misc">
        <p class="time">{{date}}</p>
        <p class="messages">{{#if count}}{{count}}{{/if}}</p>
    </div>
</div>
